body {
    font-family: Arial, sans-serif;
    background-color: #C7CEDB;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #5171A5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: left;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #07004D;
    color: #C7CEDB;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}


.numero01, .numero02 {
    color: #fff;
}


